<nav class="navbar navbar-expand-lg navbar-light deep-orange lighten-2 fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog-home' %}">IGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog-home' %}">Trang chủ <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Địa điểm
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for c in countries %}
                        <a class="dropdown-item" href="{% url 'blog-country' c.id %}">{{ c.country_name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li>
                    <form class="form-inline mr-auto" method="GET" id="searchform" action="{% url 'search-post' %}">
                        <input class="form-control mr-sm-2" id="searchbox" name="q" value="{{ request.GET.q }}"
                            type="text" placeholder="Tìm kiếm..." aria-label="Search">
                        <button class="btn btn-dark btn-rounded btn-sm my-0" type="submit">Tìm</button>
                    </form>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{{ user.profile.image.url }}" class="rounded-circle z-depth-0 img-navbar"
                            alt="avatar image" height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="{% url 'user-posts' user.username %}">Trang Cá Nhân</a>
                        <a class="dropdown-item" href="{% url 'post-create' %}">Tạo Bài Viết</a>
                        <a class="dropdown-item" href="{% url 'profile' %}">Cài Đặt</a>
                        {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Trang Quản Trị</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Đăng Xuất</a>
                    </div>
                </li>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Đăng Nhập</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Đăng Ký</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>